name: CI

on:
  push:
    branches:
      - main
  
jobs:
  # From https://github.com/marketplace/actions/workflow-run-cleanup-action
  # This action cleans up previously running instances of a workflow on the same branch.
  # This accomplishes the task of automatically cancelling CI runs on pushes to the same branch,
  # which is a common feature in most CI systems but currently not possible with GitHub actions.
  cleanup-runs:
    runs-on: ubuntu-latest
    steps:
      - uses: rokroskar/workflow-run-cleanup-action@master
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    if: "!startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/main'"

  test-adapters:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        adapter:
          - prisma
          - typeorm
    defaults:
      run:
        working-directory: ./packages/${{ matrix.adapter }}
    env:
      CI: 1
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "12"
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: test ${{ matrix.adapter }}
        run: yarn test
  publish:
    if: github.event_name == 'push' && !contains(github.event.head_commit.message, 'skip-ci')
    needs: test-adapters
    runs-on: ubuntu-latest
    env:
      CI: 1
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_PAT }}
          fetch-depth: 0
      - run: git fetch --tags
      - uses: actions/setup-node@v2
        with:
          node-version: "12"
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Authenticate with Registry
        run: |
            yarn logout
            echo "registry=http://registry.npmjs.org/" >> .npmrc
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
            npm whoami
        env:
            NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Configure CI Git User
        run: |
          git config --global user.email octobot@github.com
          git config --global user.name "@$GITHUB_ACTOR"
          git config remote.origin.url https://x-access-token:$GH_PAT@github.com/$GITHUB_REPOSITORY

      - name: Publish Stable
        if: github.event_name == 'push'
        run: yarn lerna publish --dist-tag latest --yes --no-verify-access -m "publish [skip-ci]"
        env:
          GITHUB_TOKEN: "${{ secrets.GH_PAT }}"
          NPM_TOKEN: "${{ secrets.NPM_TOKEN}}"
          GH_TOKEN: ${{ secrets.GH_PAT }}
        